/*Required if we use HTML doctype*/
html, body {
	height:               99%;
	height: -webkit-calc(100% - 8px);
	height:         calc(100% - 8px);
}

body,
.pane-container,
.pane-divider {
	background-color: #F0F0F0;
}

.pane-color-transition {
	-webkit-transition: background-color 0.15s;
	   -moz-transition: background-color 0.15s;
	     -o-transition: background-color 0.15s;
        	transition: background-color 0.15s;
}

.pane-transition {
	-webkit-transition: width 0.35s, height 0.35s, left 0.35s, top 0.35s, -webkit-transform 0.35s;
	   -moz-transition: width 0.35s, height 0.35s, left 0.35s, top 0.35s,    -moz-transform 0.35s;
	     -o-transition: width 0.35s, height 0.35s, left 0.35s, top 0.35s,      -o-transform 0.35s;
	/*For some reason IE doesn't animate width*/
        	transition: width 0.35s, height 0.35s, left 0.35s, top 0.35s,         transform 0.35s;
}

/*Container*/
.pane-container {
	width: 100%;
	height: 100%;
	position: relative;
}
.pane-container:not(.pane-bogus) {
	overflow: hidden;
}

/*Divider*/
.pane-divider {
	display: inline-block;
	position: relative;
	z-index: 1;
	vertical-align: top;

	background-color: inherit;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.pane-divider:not(:only-child):hover {
	background-color: #E0E0E0;
}
.pane-vertical > .pane-divider {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	margin: 0 -5px;

	cursor: ew-resize;
	background-image: url(images/divider-vertical.png);
}
.pane-horizontal > .pane-divider {
	position: absolute;
	left: 0;
	right: 0;
	height: 10px;
	margin: -5px 0;

	cursor: ns-resize;
	background-image: url(images/divider-horizontal.png);
}
.pane-divider:first-child,
.pane-divider:last-child {
	display: none;
}

/*Divider of empty container*/
.pane-divider:only-child {
    display: inline-block;
    background-image: none;
    cursor: auto;

    height: 100%;
    width: 100%;
}
.pane-divider:only-child:after {
    content: "This is an empty container. Drag a pane or two here";
    text-align: center;

    display: block;
    width: 100%;
    position: absolute;
    top:              50%;
    top: -webkit-calc(50% - 1em);
    top:         calc(50% - 1em);
}

/*Pane*/
.pane-pane {
	position: relative;
}
.pane-vertical > .pane-pane {
	display: inline-block;
	height: 100%;
	vertical-align: top;
}
.pane-horizontal > .pane-pane {
	width: 100%;
}

/*Margin*/
.pane-margin {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.pane-vertical > .pane-pane > .pane-margin {
	margin: 0 5px;
}
.pane-vertical > .pane-pane:first-of-type > .pane-margin {
	margin-left: 0;
}
.pane-vertical > .pane-pane:last-of-type > .pane-margin {
	margin-right: 0;
}
.pane-horizontal > .pane-pane > .pane-margin {
	margin: 5px 0;
}
.pane-horizontal > .pane-pane:first-of-type > .pane-margin {
	margin-top: 0;
}
.pane-horizontal > .pane-pane:last-of-type > .pane-margin {
	margin-bottom: 0;
}

/*Caption*/
.pane-caption {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: -webkit-calc(100% - 3.5ex);
	bottom:         calc(100% - 3.5ex);
	z-index: 1;

	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	padding-top: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border: 1px solid black;
	border-radius: 10px 10px 0 0;
	box-shadow: inset 1px 1px 6px white;
	background-color: lightslategrey;
	color: white;

	-webkit-transform: rotate(0deg);
	   -moz-transform: rotate(0deg);
	     -o-transform: rotate(0deg);
	        transform: rotate(0deg);
	-webkit-transform-origin: 1.75ex 1.75ex;
	   -moz-transform-origin: 1.75ex 1.75ex;
	     -o-transform-origin: 1.75ex 1.75ex;
	        transform-origin: 1.75ex 1.75ex;
}
.pane-pane:not(.pane-maximized) > * > .pane-caption {
	cursor: move;
}
.pane-caption.pane-caption-rotate {
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
	        transform: rotate(90deg);
	min-width: 10em;
	max-width: 10em;
}

.pane-caption-text {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/*Control box*/
.pane-control-box {
	display: inline-block;
	float: right;
}
/*Controls*/
.pane-control {
	display: inline-block;

	width: 15px;
	height: 15px;

	border: 1px solid grey;
	background-color: white;
	box-shadow: inset 0px -1px 1ex lightblue;

	cursor: pointer;
}
.pane-control:hover {
	box-shadow: inset 0px 0px 1ex gold;
}
.pane-control:active {
	box-shadow: inset 0px -2px 1ex gold;
	background-color: #DDD;
}
.pane-caption-rotate .pane-control {
	-webkit-transform: rotate(-90deg);
	   -moz-transform: rotate(-90deg);
	     -o-transform: rotate(-90deg);
	        transform: rotate(-90deg);
}
.pane-control.pane-control-minimize {
	background-image: url(images/minimize.png);
}
	.pane-control.pane-control-maximize {
	background-image: url(images/maximize.png);
}
.pane-pane.pane-maximized > * > * > * > .pane-control.pane-control-maximize {
	display: none;
}
.pane-control.pane-control-restore {
	background-image: url(images/restore.png);
}
.pane-pane:not(.pane-maximized) > * > * > * > .pane-control.pane-control-restore {
	display: none;
}
.pane-control.pane-control-close {
	background-image: url(images/close.png);
}

/*Contents*/
.pane-contents {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	overflow: auto;
}
.pane-pane:not(.pane-has-container) > .pane-margin > .pane-contents {
	border: 1px solid black;

	background-color: white;
}
.pane-pane.pane-has-caption > .pane-margin > .pane-contents {
	top: 3.5ex;	
}

/*When dragging*/

/*Bogus container*/
.pane-container.pane-bogus {
	width: 0;
	height: 0;
}

.pane-drag-droppable.pane-placeholder {
	background: url(images/placeholder.png) 0 0 repeat;
}

/*Divider*/
.pane-drag-droppable.pane-divider {
	background-color: white;
}
.pane-drag-droppable.pane-divider:not(:only-child) {
	display: inline-block;
	cursor: auto;
	border: 5px dashed black;
	background-image: none;
}
.pane-drag-droppable.pane-divider.pane-drag-over {
	background-color: lightgreen;
}
.pane-drag-droppable.pane-vertical > .pane-divider:not(:only-child) {
	width: 20px;
	margin: 0 -15px;
}
.pane-drag-droppable.pane-vertical > .pane-divider:not(:only-child):first-child {
	margin: 0 -30px 0 0;
}
.pane-drag-droppable.pane-vertical > .pane-divider:not(:only-child):last-child {
	margin: 0 0 0 -30px;
}
.pane-drag-droppable.pane-horizontal > .pane-divider:not(:only-child) {
	height: 20px;
	margin: -15px 0;
}
.pane-drag-droppable.pane-horizontal > .pane-divider:not(:only-child):first-child {
	margin: 0 0 -30px 0;
}
.pane-drag-droppable.pane-horizontal > .pane-divider:not(:only-child):last-child {
	margin: -30px 0 0 0;
}

/*Pane that is being dragged*/
.pane-pane.pane-dragged {
	z-index: 3;
	position: absolute;
}

/*Margin*/
.pane-drag-droppable.pane-vertical > .pane-pane:not(.pane-dragged) > .pane-margin {
	margin: 0 15px;
}
.pane-drag-droppable.pane-vertical > .pane-pane:not(.pane-dragged):first-of-type > .pane-margin {
	margin-left: 30px;
}
.pane-drag-droppable.pane-vertical > .pane-pane:not(.pane-dragged):last-of-type > .pane-margin {
	margin-right: 30px;
}
.pane-drag-droppable.pane-horizontal > .pane-pane:not(.pane-dragged) > .pane-margin {
	margin: 15px 0;
}
.pane-drag-droppable.pane-horizontal > .pane-pane:not(.pane-dragged):first-of-type > .pane-margin {
	margin-top: 30px;
}
.pane-drag-droppable.pane-horizontal > .pane-pane:not(.pane-dragged):last-of-type > .pane-margin {
	margin-bottom: 30px;
}

/*Maximized*/
.pane-pane.pane-maximized {
	z-index: 2;

	position: absolute;
	left: 1% !important;
	top: 1% !important;
	width: 98% !important;
	height: 98% !important;
}
.pane-bogus.pane-maximized {
	z-index: 2;

	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	
	width: auto;
	height: auto;
}